.profile-card {
    position: relative;
}

.username {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
}

.photo {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}